<h1>Vive les Kinder Pingui!</h1>
<form action="answer" data-turbo="false">
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="answer" placeholder="Tell/Ask something to your lovely coach">
    <div class="input-group-append">
      <input class="btn btn-primary input-group-text" type="submit" value="Ask!">
    </div>
  </div>
</form>
